/* Global */

.container-wrapper {
    width: 100%;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: black;
    text-align: center;
}

.navbar-brand {
    height: 75px;
}

.navbar-brand img{
    width: 65px;
    height: 65px;
}

.nav-item {
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}

/* Index Welcome image */

.main-img {
    height: 50vh;
    width: 100%;
     background: url("../images/busyGym.jpg") no-repeat bottom;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
}

.main-img .lead {
    margin: 25px 0 0 0;
    color: white;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

/* Testimonials Section */

.container-wrapper-testimonials {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1d2527;
}

.testimonials-header {
    color: orangered;
    text-align: center;
}

.block-divider--short {
    padding-top: 10px;
    padding-bottom: 10px;
    color: orangered;
}

.media-body p {
    color: white;
}

p .orange {
    color: orangered;
}
/* Footer */

footer {
    background: #000000;
}

.footer-list .footer-item a {
    color: #7f7f7f;
}

.footer-item {
    list-style-type: none;
    padding-top: 0.5rem;
}

.footer-list li a {
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 50%;
        width: 33%;
    }
}
