/* Global */

.container-wrapper {
    width: 100%;
}

/* Block Dividers */

.block-divider {
    width: 175px;
    height: 2px;
    border: 0;
    background-color: orangered;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: black;
    text-align: center;
}

.navbar-brand {
    height: 75px;
}

.navbar-brand img{
    width: 65px;
    height: 65px;
}

.nav-item {
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}

.active a {
    color: #ff6e38 !important;
}

.navbar ul li a:hover {
    color: #ff6e38 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Index Welcome image */

figure {
    margin: 0 !important;
}

.main-img {
    height: 50vh;
    width: 100%;
     background: url("../images/busyGym.jpg") no-repeat bottom;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
}

.main-img .lead {
    margin: 25px 0 0 0;
    color: white;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

/* Index Testimonials Section */

.container-wrapper-testimonials {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1d2527;
}

.testimonials-header {
    color: orangered;
    text-align: center;
}

.media {
    padding: 0 20px 0;
}

.media-body p {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

p .orange {
    color: #ff6e38;
}

/* About Owner & History Section */

.about-main {
    margin-top: 90px;
    background: #1d2527;
}

.owner-image {
    padding-top: 20px;
    padding-left: 30px !important;
}

.owner-image img {
    height: 200px;
    width: 200px;
}

.owner-details {
    font-size: 1.2em;
    line-height: 3.2rem;
    font-family: 'oswald', sans-serif;
    color: #ced4da;
}

.owner-details hr {
    background-color: #ced4da !important;
}

/* About Set Apart Column */

.set-apart-column {
    height: auto;
    width: 100%;
     background: url("../images/bodybuilding-close-up-dumbbells-260352.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
}

.set-apart-column p {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    color: #ced4da;
    text-align: center;
    line-height: 12.0rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Coaches Profile Section */

.coaches-profiles {
    margin-top: 90px;
    background-color: #1d2527;
}

.coach-details {
    padding-top: 20px;
    padding-left: 30px !important;
}

.coach-details img {
    margin-left: 10px;
    height: 200px;
    width: 200px;
    padding-bottom: 10px;
}

.coach-expertise h4 {
    font-family: 'Oswald', sans-serif;
    color: #ced4da;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}

.list-group {
    color: #ced4da;
    list-style-type: none;
    padding: 15px 0;
    text-align: center;
}

.list-group-item {
    background-color: #1d2527 !important;
    border: none !important;
}

.list-group li {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    padding: 10px 0;
}

.coach-name h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #ff6e38;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) , rgba(255, 255, 255, 0.1));
    padding: auto;
}

.coach-bio p {
    color: #ced4da;
    font-family: 'Oswald', sans-serif;
    line-height: 2.4em;
    font-size: 18px;
}

/* Classes Breakdown Section */

.classes-breakdown {
    margin-top: 90px;
    background-color: #1d2527;
}

.class-timetable-day {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.class-timetable-day li {
    border: 2px solid #ff6e38;
    list-style-type: none;
    border-radius: 14px 14px 0 0;
    margin: 10px;
    overflow: auto;
    background: #ced4da;
}

.day {
    background-color: #ff6e38 !important;
    padding: 6px 10px 10px 10px;
}

.day h4 {
    color: #1d2527;
    text-align: left;
    font-size: 1.4em;
}

.classes-breakdown ul::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background: #ff6e38;
}



/* Footer */

footer {
    background: #000000;

}

.footer-list .footer-item a {
    color: #7f7f7f;
}

.footer-item {
    list-style-type: none;
    padding-top: 0.5rem;
}

.footer-list li a {
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-list li a:hover {
    color: #ff6e38;
}

.sign-up {
    margin-top: 20px;
}

.sign-up h3 {
    text-align: center;
    padding-top: 20px;
}

.free-intro .faded-orange {
    color: #ff6e38;
}

.btn--orange {
    background-color: #1d2527;
    color: #ff6e38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    padding-top: 50px;
    text-align: center;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: #7f7f7f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #ff6e38;
}

/* Modal */

.modal-header, .form-group {
    color: orangered;
}

.close {
    color: orangered !important;
}

.form-group small {
    color: #7e9ca7 !important;
}

.btn-success {
    background-color: white !important;
    color: orangered !important;
    border-color: #ced4da !important;
}

/* Media Queries */

@media (min-width: 992px) {
    .col-sm-4 {
        width: 100%;
    }

    .col-md-4 {
        flex: 0 0 50%;
        width: 33%;
    }
}